## Task: Using a single columnâ€™s values to select data.


[source](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#boolean-indexing)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
dates = pd.date_range("2021-04-25", periods=5)

In [4]:
dates

DatetimeIndex(['2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29'],
              dtype='datetime64[ns]', freq='D')

In [5]:
from numpy.random import default_rng

In [6]:
rng = default_rng()

In [8]:
data = rng.normal(size=(5, 4))

In [10]:
df = pd.DataFrame(data, index=dates, columns=list("ABCD"))

In [11]:
df

                   A         B         C         D
2021-04-25 -1.651687  0.582754 -0.267952 -2.620154
2021-04-26  1.336501  0.311669 -0.714671 -0.955957
2021-04-27 -0.311315 -0.550126  0.790071 -1.480994
2021-04-28 -0.096146  0.331813 -0.659277  1.807590
2021-04-29 -2.695725 -1.160182  0.675912 -0.313979

In [15]:
df["A"] > 0

2021-04-25    False
2021-04-26     True
2021-04-27    False
2021-04-28    False
2021-04-29    False
Freq: D, Name: A, dtype: bool

In [16]:
df[df["A"] > 0]

                   A         B         C         D
2021-04-26  1.336501  0.311669 -0.714671 -0.955957

In [21]:
df[df["B"] > 0]

                   A         B         C         D
2021-04-25 -1.651687  0.582754 -0.267952 -2.620154
2021-04-26  1.336501  0.311669 -0.714671 -0.955957
2021-04-28 -0.096146  0.331813 -0.659277  1.807590

In [22]:
conditon1 = df["B"] > 0

In [23]:
condition2 = df["A"] > 0

In [25]:
df[conditon1 & condition2]

                   A         B         C         D
2021-04-26  1.336501  0.311669 -0.714671 -0.955957