### Task: Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns

[Source](https://pandas.pydata.org/docs/user_guide/10min.html#object-creation)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [9]:
dates = pd.date_range("2021/04/10", periods=6)

In [10]:
dates

DatetimeIndex(['2021-04-10', '2021-04-11', '2021-04-12', '2021-04-13',
               '2021-04-14', '2021-04-15'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=list("ABCD"))

In [12]:
df

                   A         B         C         D
2021-04-10 -0.270000 -1.870461  0.304017 -1.700425
2021-04-11 -0.460347  0.285832 -1.092381  0.215329
2021-04-12 -2.129161 -1.501454 -0.250933 -1.749931
2021-04-13 -0.571015  0.292894  0.327346 -1.013831
2021-04-14 -0.381712  0.448550  0.299680  0.322640
2021-04-15  1.621472 -0.097701 -0.579247  0.115274

In [13]:
dates = pd.date_range("2021-04-21", periods=10)

In [19]:
data = np.random.randn(10, 5)

In [21]:
df2 = pd.DataFrame(data, index=dates, columns = list("ABCDE"))

In [22]:
df2

                   A         B         C         D         E
2021-04-21  2.789831  0.678971 -0.696041  1.011196  0.890270
2021-04-22 -1.263842  0.592089 -0.668019 -0.951246 -1.227220
2021-04-23  0.647343 -0.821211  0.331160 -1.227249  0.253579
2021-04-24 -2.666238  0.275802 -0.551801 -0.978444  0.420358
2021-04-25 -0.531960  0.488001 -2.135537 -1.113503  0.107094
2021-04-26 -0.699187 -0.562929  2.287613  0.886462 -0.674230
2021-04-27  1.096198  0.255474  0.288377  0.849951 -0.199211
2021-04-28  1.020384 -0.485633 -0.107728  0.697694  0.004194
2021-04-29  1.037593  0.154627 -1.382451  0.644846 -1.863622
2021-04-30  0.591123 -0.033026  0.773598  0.025922  0.744838