In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
dates = pd.date_range("2021-04-13", periods=6)

In [6]:
dates

DatetimeIndex(['2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list("ABCD"))

In [8]:
df

                   A         B         C         D
2021-04-13 -0.208535  0.560544 -0.683322 -2.229230
2021-04-14 -0.509653 -1.876292 -0.816747 -0.662255
2021-04-15 -0.731282  0.505339  1.114002 -1.093178
2021-04-16 -0.269910 -0.194758  0.467887  0.602086
2021-04-17  0.068997  0.187903 -0.439848 -0.167610
2021-04-18 -0.306802 -1.115461  1.250045  1.108362