In [4]:
import numpy as np

In [1]:
import pandas as pd

In [2]:
dates = pd.date_range("2021-05-12", periods=5)

In [3]:
dates

DatetimeIndex(['2021-05-12', '2021-05-13', '2021-05-14', '2021-05-15',
               '2021-05-16'],
              dtype='datetime64[ns]', freq='D')

[numpy random source](https://numpy.org/doc/stable/reference/random/index.html#quick-start)

In [5]:
from numpy.random import default_rng

In [6]:
rng = default_rng()

In [11]:
data = rng.normal(10, 2, (5, 5))

In [12]:
data

array([[ 8.56117481, 10.4968574 ,  6.3773614 , 10.71657801,  6.86215963],
       [13.60354625, 10.1101909 , 14.87783576, 15.62315919,  8.83153822],
       [10.65879854,  9.89186203, 11.52424701,  9.75864239,  7.66637852],
       [ 6.94219238, 13.51858646,  9.25014254,  8.75685091,  8.77398792],
       [ 8.67789483,  8.24916521, 12.9128255 , 10.83876772,  6.45717098]])

In [13]:
columns = list("ABCDE")

In [14]:
df = pd.DataFrame(data, index=dates, columns=columns)

In [15]:
df

                    A          B          C          D         E
2021-05-12   8.561175  10.496857   6.377361  10.716578  6.862160
2021-05-13  13.603546  10.110191  14.877836  15.623159  8.831538
2021-05-14  10.658799   9.891862  11.524247   9.758642  7.666379
2021-05-15   6.942192  13.518586   9.250143   8.756851  8.773988
2021-05-16   8.677895   8.249165  12.912825  10.838768  6.457171