In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
dictionary = {
    "A": list(range(10)),
    "B": list(range(39, 49))
}

In [6]:
dictionary

{'A': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'B': [39, 40, 41, 42, 43, 44, 45, 46, 47, 48]}

In [9]:
df = pd.DataFrame(dictionary, index=pd.date_range("2021-04-24", periods=10))

In [10]:
df

            A   B
2021-04-24  0  39
2021-04-25  1  40
2021-04-26  2  41
2021-04-27  3  42
2021-04-28  4  43
2021-04-29  5  44
2021-04-30  6  45
2021-05-01  7  46
2021-05-02  8  47
2021-05-03  9  48