In [1]:
import pandas as pd

In [2]:
import numpy as np

In [12]:
dictionary = {"Column A" : range(1, 11), 
             "Column B": range(12, 22), 
             "Column C": pd.date_range("2021-06-24", periods = 10)}

In [13]:
df = pd.DataFrame(dictionary)

In [17]:
df.set_index("Column C", inplace=True)

In [18]:
df

            Column A  Column B
Column C
2021-06-24         1        12
2021-06-25         2        13
2021-06-26         3        14
2021-06-27         4        15
2021-06-28         5        16
2021-06-29         6        17
2021-06-30         7        18
2021-07-01         8        19
2021-07-02         9        20
2021-07-03        10        21