[source](https://pandas.pydata.org/docs/user_guide/10min.html#min)

In [1]:
import pandas as pd

In [5]:
dictionary = {
    "A":pd.Categorical(["test", "train"] * 2),
    "B": 1
}

In [6]:
df = pd.DataFrame(dictionary)

In [7]:
df

       A  B
0   test  1
1  train  1
2   test  1
3  train  1