In [1]:
from numpy.random import default_rng

In [2]:
import pandas as pd

In [3]:
## data creation

dates = pd.date_range("2021-04-25", periods=5)

rng = default_rng()
data = rng.normal(size=(5, 4))
df = pd.DataFrame(data, index=dates, columns=list("ABCD"))

In [10]:
df

                   A         B         C         D
2021-04-25  1.093162 -1.635700 -1.008930 -0.943291
2021-04-26 -1.557025 -0.849987 -0.747058  0.832024
2021-04-27  1.044527 -0.297864  1.187291 -0.612707
2021-04-28 -0.325152 -0.587372  0.616926 -0.074808
2021-04-29  0.515538  0.518704 -0.170092  0.543863

In [5]:
df.iat[0,0]

0.02009683085095581

In [7]:
df.loc["20210429", "D"]

1.2859537183205834

In [10]:
df.loc[["20210425", "20210429"], ["A", "D"]]

                   A         D
2021-04-25  0.774552 -0.174075
2021-04-29  0.570527  1.285954

In [13]:
df.loc[:, "A":"D"]

                   A         B         C         D
2021-04-25  0.774552  0.743305  1.005940 -0.174075
2021-04-26 -0.266483  1.483454  0.238446 -0.209716
2021-04-27  0.720191  0.363325 -0.088266 -0.804152
2021-04-28  0.544919  0.520733 -0.249591 -0.610029
2021-04-29  0.570527  0.056202  0.009878  1.285954

In [14]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [15]:
df.index

DatetimeIndex(['2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.to_csv("dummy_data.csv", index=True)