In [1]:
from numpy.random import default_rng

import pandas as pd

In [2]:
## data creation

dates = pd.date_range("2021-04-25", periods=5)

rng = default_rng()
data = rng.normal(size=(5, 5))
df = pd.DataFrame(data, index=dates, columns=list("ABCDE"))

In [3]:
df

                   A         B         C         D         E
2021-04-25  0.345421 -0.954929  0.070799  1.046667 -2.092903
2021-04-26  1.270956 -1.060961  1.059224 -1.274006 -0.816775
2021-04-27 -1.646686  0.701523 -0.899743 -1.784855 -0.193690
2021-04-28  1.230499 -1.762289 -0.178703 -0.042921  0.856545
2021-04-29  0.211791 -0.029319  0.042243 -1.144150  0.703623

In [8]:
df.loc[["20210425","20210427"],["A", "C"]]

                   A         C
2021-04-25  0.345421  0.070799
2021-04-27 -1.646686 -0.899743

In [11]:
df.loc[["20210425","20210427", "20210429"],["A", "C"]]

                   A         C
2021-04-25  0.345421  0.070799
2021-04-27 -1.646686 -0.899743
2021-04-29  0.211791  0.042243

In [13]:
df.loc[["20210425","20210427", "20210429"],"A":"C"]

                   A         B         C
2021-04-25  0.345421 -0.954929  0.070799
2021-04-27 -1.646686  0.701523 -0.899743
2021-04-29  0.211791 -0.029319  0.042243

In [9]:
df.loc["20210425":"20210427",["A", "C"]]

                   A         C
2021-04-25  0.345421  0.070799
2021-04-26  1.270956  1.059224
2021-04-27 -1.646686 -0.899743

In [10]:
df.loc["20210425":"20210427","A":"C"]

                   A         B         C
2021-04-25  0.345421 -0.954929  0.070799
2021-04-26  1.270956 -1.060961  1.059224
2021-04-27 -1.646686  0.701523 -0.899743