In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = np.random.randint(1, 100, size=(6,4))

In [4]:
data

array([[30, 76, 91, 32],
       [13, 84,  9, 12],
       [35, 93,  8, 74],
       [95, 53,  1, 97],
       [11, 42, 73, 85],
       [29, 76, 28, 22]])

In [5]:
df = pd.DataFrame(data, columns=list("ABCD"))

In [6]:
df

    A   B   C   D
0  30  76  91  32
1  13  84   9  12
2  35  93   8  74
3  95  53   1  97
4  11  42  73  85
5  29  76  28  22

In [7]:
df.mean(axis=0)

A    35.500000
B    70.666667
C    35.000000
D    53.666667
dtype: float64

In [8]:
df.mean(axis=1)

0    57.25
1    29.50
2    52.50
3    61.50
4    52.75
5    38.75
dtype: float64