In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = np.random.randint(1, 100, (6, 4))

In [4]:
data

array([[68, 37, 50,  1],
       [ 3, 19, 74, 61],
       [39, 36, 95, 85],
       [14, 11,  7, 85],
       [44, 82, 53, 93],
       [93,  9,  7, 37]])

In [5]:
index = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Saturday"]

In [6]:
columns = list("ABCD")

In [7]:
df = pd.DataFrame(data, index = index, columns = columns)

In [8]:
df

            A   B   C   D
Sunday     68  37  50   1
Monday      3  19  74  61
Tuesday    39  36  95  85
Wednesday  14  11   7  85
Thursday   44  82  53  93
Saturday   93   9   7  37

In [9]:
df.mean(axis = 0)

A    43.500000
B    32.333333
C    47.666667
D    60.333333
dtype: float64

In [10]:
df.mean(axis = 1)

Sunday       39.00
Monday       39.25
Tuesday      63.75
Wednesday    29.25
Thursday     68.00
Saturday     36.50
dtype: float64