In [1]:
import pandas as pd

In [2]:
data = {"col 1":list(range(0, 99)), 
       "col 2": list(range(100, 199))}

In [3]:
df = pd.DataFrame(data)

In [5]:
df.head()

   col 1  col 2
0      0    100
1      1    101
2      2    102
3      3    103
4      4    104

In [6]:
df.mean(axis = 0)

col 1     49.0
col 2    149.0
dtype: float64

In [7]:
df.mean(axis =1 )

0      50.0
1      51.0
2      52.0
3      53.0
4      54.0
      ...
94    144.0
95    145.0
96    146.0
97    147.0
98    148.0
Length: 99, dtype: float64