In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = np.random.randn(6,4)

In [5]:
data.shape

(6, 4)

In [6]:
df = pd.DataFrame(data, columns=list("ABCD"))

In [7]:
df

          A         B         C         D
0 -1.995085 -1.099390  0.755550  0.457049
1 -1.438294 -0.745767 -0.719094  1.190848
2 -1.680161  0.355084 -0.279501  0.758242
3  0.135941 -0.937068 -0.786702  0.501944
4  0.804368 -0.385419  1.305107 -0.737626
5  1.057316  2.047904  0.429460 -0.090437

In [9]:
## now to the meat of this run

In [10]:
columns = ["C", "D"]

In [11]:
df.loc[1:3, columns]

          C         D
1 -0.719094  1.190848
2 -0.279501  0.758242
3 -0.786702  0.501944