In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("dummy_data.csv", index_col=0)

In [6]:
df

                   A         B         C         D
2021-04-25  1.093162 -1.635700 -1.008930 -0.943291
2021-04-26 -1.557025 -0.849987 -0.747058  0.832024
2021-04-27  1.044527 -0.297864  1.187291 -0.612707
2021-04-28 -0.325152 -0.587372  0.616926 -0.074808
2021-04-29  0.515538  0.518704 -0.170092  0.543863

In [8]:
columns = ["A", "C"]

In [9]:
df[columns]

                   A         C
2021-04-25  1.093162 -1.008930
2021-04-26 -1.557025 -0.747058
2021-04-27  1.044527  1.187291
2021-04-28 -0.325152  0.616926
2021-04-29  0.515538 -0.170092

In [14]:
df.loc[:, columns]

                   A         C
2021-04-25  1.093162 -1.008930
2021-04-26 -1.557025 -0.747058
2021-04-27  1.044527  1.187291
2021-04-28 -0.325152  0.616926
2021-04-29  0.515538 -0.170092